/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 750px;
	margin: 0 auto;
}

table 
{
	
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px auto;
}

thead 
{
	background-color: yellow;
	font-weight: bold;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: top;
}



tbody tr:nth-child(even) td 
{
	background-color: yellow;
}

.center-text {
	text-align: center;
}
.right {
	text-align: right;
}
.bold{
	font-weight: bold;


}
.highlight{
	 font-weight: bold;
	 text-align: right;
	  background-color: yellow;

}
.table-container {
    
    margin: 20px auto;
    border: 2px solid black; 
    padding: 3px; 
	width: 630px ;
}
#leftbold {
    background-color: white ;
	font-weight: bold; 
}

